/* Write your CSS here */
.bg-container {
  height: 100vh;
  padding: 20px;
}
.main-container {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .main-container {
    width: 90%;
  }
}
.comments-heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #1e293b;
}

@media screen and (max-width: 768px) {
  .comments-heading {
    font-size: 30px;
  }
}
.comment-img-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .comment-img-con {
    flex-direction: column;
    width: 100%;
  }
}
.comment-con {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .comment-con {
    order: 2;
  }
}
.say-para {
  font-family: 'Roboto';
  color: #475569;
}
.text-input {
  margin-bottom: 20px;
  height: 40px;
  border: 2px solid #cbd2d9;
  padding: 2px 10px 2px 10px;
  outline: none;
  font-family: 'Roboto';
  color: #1e293b;
  max-width: 400px;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .text-input {
    width: 100%;
  }
}

.text-area {
  border: 2px solid #cbd2d9;
  padding: 10px;
  outline: none;
  font-family: 'Roboto';
  max-width: 400px;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .text-area {
    width: 100%;
  }
}
.add-cmnt-btn {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #0284c7;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

.cheer-img {
  margin-bottom: 20px;
  width: 400px;
}
@media screen and (max-width: 768px) {
  .cheer-img {
    width: 300px;
  }
}

.cmt-section-con {
  display: flex;
  align-items: center;
}
.no-of-cmt {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0284c7;
  color: #ffffff;
  margin-right: 7px;
  font-size: 17px;
  border-radius: 5px;
}
.cmt-label {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}
.ul-con {
  padding: 0;
}
