.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.li-con {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.main-cmt-con {
  display: flex;
}
.initial {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-family: 'Roboto';
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-right: 20px;
}
.name-cmt-con {
}
.name-con {
  display: flex;
  align-items: center;
}
.name {
  margin-right: 20px;
  font-family: 'Roboto';
  font-size: 20px;
  color: #334155;
}
.time {
  font-family: 'Roboto';
  font-size: 15px;
  color: #94a3b8;
}
.cmt {
  font-family: 'Roboto';
  font-size: 15px;
  margin-top: 0;
  color: #64748b;
}
.like-del-con {
  display: flex;
  justify-content: space-between;
}

.like-img-con {
  display: flex;
  align-items: center;
}
.like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.like-img {
  margin-right: 15px;
  width: 20px;
}
.like-text {
  font-family: 'Roboto';
  font-size: 15px;
  cursor: pointer;
}
.liked-text {
  color: #0b69ff;
}
.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.delete-img {
}
